<div class="footer font-poppins">
  <div class="container">
    <div class="flex items-start gap-15 justify-between">
       <div class="w-full md:w-1/2 lg:w-4/12">
          <img src="" class="w-30 h-16 footer-logo mb-3" width="" height="" alt="">
          <p class="text-sm md:text-base font-medium text-gray mb-3 lg:mb-4">FoodTrove is the biggest market of grocery products. Get your daily needs from our store.</p>
          <p class="location flex  gap-2 text-sm md:text-base font-medium text-gray mb-3 lg:mb-4"><img src="" class="location-logo size-5 lg:size-6" width="" height="" alt="">51 Green St.Huntington ohaio beach ontario, NY11746 KY 4783, USA.</p>
          <p class="mail flex  gap-2 text-sm md:text-base font-medium text-gray mb-3 lg:mb-4"><img src="" class=" mail-logo size-5 lg:size-6" width="" height="" alt="">example@email.com</p>
          <p class="phone flex  gap-2 text-sm md:text-base font-medium text-gray mb-3 lg:mb-4"><img src="" class=" phone-logo size-5 lg:size-6" width="" height="" alt="">example@email.com</p>
      
       </div>
       <div class="w-full md:w-1/2 lg:w-8/12">
          <div class="grid grid-cols-2 lg:grid-cols-3">
          <div class="footer-menu-items">
             <h6 class="text-lg lg:text-xl font-quicksand font-semibold mb-4 lg:mb-5">Company</h6>
             <ul>
              <li class="mb-3 lg:mb-4 group"><a href="#" class="text-sm md:text-base duration-300 text-gray group-hover:text-secondary">About Us</a></li>
            </ul>
         </div>
          <div class="footer-social-items">
             <h6 class="text-lg lg:text-xl font-quicksand font-semibold mb-4 lg:mb-5">Company</h6>
            <div class="flex items-center gap-1">
              <a href="#" class="size-8 lg:size-10 rounded-full bg-white border border-[#E1DFDF] hover:bg-secondary duration-300 flex items-center justify-center"></a>
            </div>
         </div>
          </div>
       </div>
    </div>
  </div>
  <div class="bg-[#E9E9E9] w-full h-px mt-5 lg:mt-6" />
  <p class="text-center text-sm md:text-base font-bold font-poppins text-black py-4 lg:py-5">© 2024 <span class="text-primary">FoodTrove</span>, All rights reserved.</p>
</div>