<div class="product-all py-10 md:py-14 lg:py-20 xl:py-25 ">
  <div class="container font-poppins">
    <div class="">
      <div class="w-full md:w-3/12">
        <div class=" border border-[#E9E9E9] rounded-md p-4 lg:p-5">
          <div class="product-category-area mb-4 lg:mb-5">
            <h3 class="text-subheading font-poppins! capitalize text-base md:text-lg pb-2 lg:pb-3 border-b border-b-[#E9E9E9] mb-4 lg:mb-5">product Category</h3>
            <ul>
              <li class="mb-3 lg:mb-4 last:mb-0">
                <a class="category-list text-sm md:text-base font-medium text-gray hover:text-secondary duration-300 cursor-pointer flex items-center justify-between gap-1 w-full">
                  <span class="category-name">Juice & Drinks</span>
                  <span class="all-item">[20]</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="product-price-filter">
            <h3 class="text-subheading font-poppins! capitalize text-base md:text-lg pb-2 lg:pb-3 border-b border-b-[#E9E9E9] mb-4 lg:mb-5">Filter By Price</h3>
            <ul>
              <li class="mb-3 lg:mb-4 last:mb-0">
                <a class="category-list text-sm md:text-base font-medium text-gray hover:text-secondary duration-300 cursor-pointer flex items-center justify-between gap-1 w-full">
                  <span class="category-name">Juice & Drinks</span>
                  <span class="all-item">[20]</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-full md:w-9/12"></div>
    </div>
  </div>
</div>