/* Basic Button */
.btn-6 {
    position: relative;
    display: inline-flex;
    text-align: center;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    z-index: 0;
    border: 1px solid transparent;
}
@media(max-width: 768px) {
  .btn-6 {
    padding: 12px 20px;
  }
}
/* Ripple circle */
/* .btn-6 span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #5b8f3d;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: width .5s ease-in-out, height .5s ease-in-out;
} */

/* Hover color */
.btn-6:hover {
  color: #fff;
  background-color: #619344;
}

/* Expand circle */
/* .btn-6:hover span {
  width: 250%;
  height: 250%;
} */

/* Active */
.btn-6:active {
  background: #619344;
}