@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');


/* Theme Variables */
@theme {
  --color-primary: #F53E32;
  --color-secondary: #3BB77E;
  --color-heading: #253D4E;
  --color-subheading: #2B2B2D;
  --color-para: #7A7A7A;
  --color-gray: #ADADAD;
  --color-border: #E9E9E9;

  --breakpoint-xs: 390px;
  --breakpoint-sm: 430px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1240px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1520px;

  --font-quicksand: "Quicksand", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
:root {
  --font-body-family: "Poppins", sans-serif;
  --font-heading-family: "Quicksand", sans-serif;
}
@layer base {
  .btn {
    @apply rounded-md relative px-3 md:px-6 min-h-10 max-w-max font-poppins! capitalize flex items-center justify-center bg-primary hover:bg-[#619344]! text-sm md:text-base  text-white font-semibold transition-all duration-300 cursor-pointer;
  }

  .btn-light {
    @apply bg-gray border border-solid border-primary hover:bg-primary text-heading hover:text-white transition-all duration-300 cursor-pointer;
  }
  .fromInputClass {
    @apply w-full px-4 md:px-6 min-h-12 md:min-h-14 lg:min-h-16 rounded-lg bg-primary text-lg lg:text-xl text-black/80 placeholder:text-[#ABABAB] border border-solid border-[#EFEFEF] outline-none ring-primary/50 ring-0 focus:ring-2;
  }
}
body{
   font-family: "Poppins";
 }
h1,h2,h3,h4,h5{
  font-weight: 700;
   font-family: "Quicksand";
}
.container {
  width: 100%;
  max-width: 1350px !important;
  margin-inline: auto;
  padding-inline: 15px;
}


html,
body,
html body {
  overflow-x: hidden;  
}
html{
   scroll-behavior: smooth;
}
.scrollbar-hide::-webkit-scrollbar {
  height: 0px !important;
}
